/*Backgrounds*/

body.normal {
    background-color: black;
}

/*page display*/
img.pages {
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

/*Buttons*/
div.buttons {
 text-align: center;
}

.button{
    background-color: rgb(69, 52, 100);
    font-size: 14px;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 15px 32px;
    margin: 5px;
    transition-duration: 0.4s;
}

.button:hover {
    background-color: rgb(128, 68, 163);
}

/*Navbar*/
.navb{
    width: 100%;
    max-width: none;
    background-color: black;
    overflow: hidden;
}

.navb a.active{
    text-decoration-line: underline;
    text-decoration-style: wavy;  display:inline-block;
}


.navb button{
    float: right;
    text-align: center;
    padding: 10px;
    font-size: 25;
    margin-right: 75px;
    margin-top: 25px;
    margin-bottom: 5px;
}

#nav-logo{
    font-size: 18px;
    text-align: center;
    font-family: "Delius", serif;
    padding: 10px;
}

.navb a{
    float: left;
    text-align: center;
    color: azure;
    padding: 10px;
    font-size: 16px;
    margin-top: 25px;
    text-decoration: none;
   
}